<template name="topwbullets">
  <div id="pageContent" class="grid-cell cell-fluid" style="-webkit-overflow-scrolling: touch;">
    <ion-content>
      <div class="row row-center" style="margin-top:10%;">
        <div class="col col-offset-10" style="height:100%;">
          <h1>
            {{#momentum with='iron-router' plugin="customC" options=transitionOptions}}
            {{> yield region="slideTitle"}}
            {{/momentum}}
          </h1>
        </div>
      </div>
      <div class="row" style="margin-top:50px;">
        <div class="col  col-offset-10" style="font-size:18pt">
          {{#momentum with='iron-router' plugin="customC" options=transitionOptions}}
          {{> yield region="slideBullets"}}
          {{/momentum}}
        </div>
      </div>
    </ion-content>
  </div>
</template>