<template name="CenteredTopic">
  <div id="pageContent" class="grid-cell cell-fluid" style="-webkit-overflow-scrolling: touch;">
      <ion-content>
        <div class="row row-center" style="height:100%;margin-top:200px;">
          <div class="col col-center" style="height:100%;text-align:center;">
            
            {{#momentum with='iron-router' plugin="customC" options=transitionOptions}}
            {{> yield}}
            {{/momentum}}
          </div>
        </div>
      </ion-content>
    </div>
</template>